### Node.js ###
# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno
.env
.env.local
.env.*.local

# Salida de compilación
/build
/dist
/out

# Archivos de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Directorios de testing
/coverage/
/.nyc_output/

# Editor de código y sistema operativo
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Cachés
/.cache/
/.next/
/.nuxt/
/.vercel/
/.firebase/

# Archivos de producción y despliegue
*.gz
*.zip

# Archivos de configuración local
/.npmrc
/.yarnrc
/.pnp.*

# Archivos de bases de datos locales
*.sqlite
*.sqlite3

# Archivos de lock y dependencias
package-lock.json
yarn.lock
pnpm-lock.yaml
